#main_title {
    font-size: 100px;
    font-weight: bold;
}

#projects_title {
    font-size: 50px;
    text-decoration: underline;
}

a {
    color: orange;
    font-size: 30px;
    text-decoration: none;
}

a:hover {
    color:gold;
    font-weight: bold;
    font-size: 35px;
}

* {
    font-family: Comic sans ms;
}

#welcome_text {
    color: red;
    font-size: 30px;
    font-weight: 800;
}

body {
    background-color: skyblue;
    text-align: center;
}

table{
    text-align: center;
    border: 5px solid black;
}


#table_container {
    text-align: center;
    display:flex;
}

table.center {
    margin-left: auto;
    margin-right: auto;
}

.typeTitle {
    font-size: 50px;
    min-width: 500px;
    color: blue;
    text-decoration: underline;
    font-weight: bold;
}

@keyframes glow {
    0% {color: red;}
    50% {color:yellow;}
    100% {color: red;}
}
.glowing {
    animation: glow 1s infinite;
}