body {
    text-align: center;
    background-color: cadetblue;
    font-family: comic sans ms;
    color: white;
}

#canvas {
    border: 1px solid black;
    width: 500px;
    height: 500px;
    margin-top: 0px;
}

a:visited, a:link, a:hover, a:active {
    font-family: comic sans ms;
    color: white;
    text-decoration: none;
    font-size: 15px;
    text-align: left;
}

h1 {
    font-size: 60px;
    margin-top: 0px;
}

div {
    height: 100%;
    overflow: hidden;
}
body, html {
    height: 100%;
}

body {
    overflow: hidden;
}